.topictext {
  font-weight: bold;
}

.topicinput {
}

.authortext {
  font-weight: bold;
}

.authorinput {
}

.textbeforetextarea {
  font-weight: bold;
}

.textarea {
  resize: none;
  width: 400px;
  height: 300px;
}

.sendbutton {
}

.wholeform {
  margin: 20px;
}