.wholelayout {
  margin: 20px;
  margin-left: 60px;
  margin-right: 60px;
  border-style: solid;
  border-radius: 25px;
}

.header {
  background-color: #17849A;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #DCDCDC;
}

.upnavi {
  border-style: ridge;
  background-color: #DCDCDC;
}

.navi {
  text-align: left;
  font-size: 16px;
  list-style-type: none;
  margin-left: -30px;
}

.navi li {
  display: inline;
  padding: 10px;
}

.navi li:hover {
  background-color: #17849A;
}

@media only screen and (max-width: 600px) {
  .wholelayout {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-style: solid;
    border-radius: 25px;
  }

  .navi li {
    display: block;
    padding: 10px;
  }
}