.topics {
  list-style-type: none;
  padding: 0px;
  cursor: pointer;
  margin-right: 20px;
  background-color: #F2F2F2;
  margin-left: 20px;
  font-size: 15px;
}

.topics li:hover {
  color: #17849A;
}

.topics li:nth-child(odd) {
  background-color: #dcdcdc;
}

.backbutton {
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 5px;
  border: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #17849A;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.backbutton:hover {
  background-color: rgb(29, 181, 211);
}

.loading {
  padding-left: 20px;
}