.topic {
  font-size: 28px;
  padding-left: 20px;
  background-color: #dcdcdc;
  border-style: ridge;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: -20px;
  font-weight: 800;
  color: #17849A;
}

.bloginfo {
  font-size: 12px;
  border-style: ridge;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #F2F2F2;
}

.blogtext {
  white-space: pre-wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.commentstext {
  padding-left: 20px;
  font-size: 14px;
}

.commentstext:hover {
  color: #17849A;
  cursor: pointer;
}

.showtextbutton {
}

.editbutton {
  background-color: beige;
}

.deletebutton {
  background-color: red;
}

.addcommentbutton {
  margin-left: 20px;
}

.arrowright {
  border: solid black;
  border-width: 0px 2px 2px 0px;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrowdown {
  border: solid black;
  border-width: 0px 2px 2px 0px;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.wholepost {
}